<script defer src='/js/main.js'></script>
<link rel="stylesheet" href="/css/main.css">
<div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-8">
  {{#each photos}}
    <div class="p-2 m-3 relative">
      <div class="absolute top-0 left-0 text-gray-600 hover:bg-pink-500  px-2 rounded-full">
        {{#if this.authorised}}
          <a href="/delete/{{this._id}}">x</a>
        {{/if}}
      </div>
      <img src="{{this.urlToMini}}" alt="" id='popup-trigger'>

    </div>

    <div id='popup' class="b-popup z-10" style="display: none;">
      <div class="b-popup-content">
        <img src="{{this.url}}" alt="">
        <p class="text-lg p-2">{{this.comment}}</p>
        <p class="text-right" id='popup-closer'>Закрыть</p>
      </div>
    </div>
  {{/each}}
</div>
