<form action='/user/register' method='POST' class="flex flex-col lg:w-6/12 mx-auto h-72 my-56">
  <input type="text" name="login" placeholder="login" class='h-10 border-pink-800 border-2 text-center m-2' required>
  <input type="password" name="password" placeholder="password" class='h-10 border-pink-800 border-2 text-center m-2'
    required>
  <button type="submit"
    class="bg-pink-500 text-xl py-2 px-3 shadow-xl rounded-xl hover:bg-pink-600 w-36 mx-auto my-2">Register</button>
</form>
